{% extends "homepage/base.html" %}
{% load static %}


{% block content %}

<div class="container">

  <div class="container1">
  <img class= "image1" src="{% static "homepage/pngflag.png" %}" / >
    <div class="topleft"><p class="website-name">PNG e-Judiciary Judge Support Portal</p></div>
    <div class="bottomleft"><h4 class="website-desc">About Us <br>
      Here are the people who have been working on this project.</h4></div>
  </div>


  <div class="row">
    <div class="column1" style="border-bottom: solid; border-bottom-width: thin;">
        <div style="float: left; width: 150px; height: auto; margin: 10px;">
          <img class= "image" style="width: 150px; border-radius: 10px;" src="{% static "homepage/avatar.png" %}" / >
        </div>
          <p style="margin-top: 10px; font-weight: bold; font-size: 24px;">Alison</p>
          <p style="margin-top: 10px; font-size: 20px;">Client</p>
          <p style="margin-top: 10px; font-size: 20px;">Advisor of the project</p>
    </div>
    <div class="column1" style="border-bottom: solid; border-bottom-width: thin;">
      <div style="float: left; width: 150px; height: auto; margin: 10px;">
        <img class= "image" style="width: 150px; border-radius: 10px;" src="{% static "homepage/avatar.png" %}" / >
      </div>
        <p style="margin-top: 10px; font-weight: bold; font-size: 24px;">Andrew</p>
        <p style="margin-top: 10px; font-size: 20px;">Leader</p>
        <p style="margin-top: 10px; font-size: 20px;">Data analyst and developed AI engine</p>
    </div>
  </div>

  <div class="row">
    <div class="column1" style="border-bottom: solid; border-bottom-width: thin;">
        <div style="float: left; width: 150px; height: auto; margin: 10px;">
          <img class= "image" style="width: 150px; border-radius: 10px;" src="{% static "homepage/avatar.png" %}" / >
        </div>
          <p style="margin-top: 10px; font-weight: bold; font-size: 24px;">Michael S</p>
          <p style="margin-top: 10px; font-size: 20px;">Team member</p>
          <p style="margin-top: 10px; font-size: 20px;">Website Developer</p>
    </div>
    <div class="column1" style="border-bottom: solid; border-bottom-width: thin;">
      <div style="float: left; width: 150px; height: auto; margin: 10px;">
        <img class= "image" style="width: 150px; border-radius: 10px;" src="{% static "homepage/avatar.png" %}" / >
      </div>
        <p style="margin-top: 10px; font-weight: bold; font-size: 24px;">Komal</p>
        <p style="margin-top: 10px; font-size: 20px;">Team member</p>
        <p style="margin-top: 10px; font-size: 20px;">Meta data researcher</p>
    </div>
  </div>

  <div class="row">
    <div class="column1" style="border-bottom: solid; border-bottom-width: thin;">
        <div style="float: left; width: 150px; height: auto; margin: 10px;">
          <img class= "image" style="width: 150px; border-radius: 10px;" src="{% static "homepage/avatar.png" %}" / >
        </div>
          <p style="margin-top: 10px; font-weight: bold; font-size: 24px;">Sajan</p>
          <p style="margin-top: 10px; font-size: 20px;">Team member</p>
          <p style="margin-top: 10px; font-size: 20px;">Data scraper and researcher</p>
    </div>
    <div class="column1" style="border-bottom: solid; border-bottom-width: thin;">
      <div style="float: left; width: 150px; height: auto; margin: 10px;">
        <img class= "image" style="width: 150px; border-radius: 10px;" src="{% static "homepage/avatar.png" %}" / >
      </div>
        <p style="margin-top: 10px; font-weight: bold; font-size: 24px;">Salman</p>
        <p style="margin-top: 10px; font-size: 20px;">Team member</p>
        <p style="margin-top: 10px; font-size: 20px;">Data scraper and researcher</p>
    </div>
  </div>

  <div class="row">
    <div class="column1" style="border-bottom: solid; border-bottom-width: thin;">
        <div style="float: left; width: 150px; height: auto; margin: 10px;">
          <img class= "image" style="width: 150px; border-radius: 10px;" src="{% static "homepage/avatar.png" %}" / >
        </div>
          <p style="margin-top: 10px; font-weight: bold; font-size: 24px;">Michael T</p>
          <p style="margin-top: 10px; font-size: 20px;">Teacher</p>
          <p style="margin-top: 10px; font-size: 20px;">Advisor of the project</p>
    </div>
    <div class="column1" style="border-bottom: solid; border-bottom-width: thin;">
      <div style="float: left; width: 150px; height: auto; margin: 10px;">
        <img class= "image" style="width: 150px; border-radius: 10px;" src="{% static "homepage/avatar.png" %}" / >
      </div>
        <p style="margin-top: 10px; font-weight: bold; font-size: 24px;">Rizwan</p>
        <p style="margin-top: 10px; font-size: 20px;">Teacher</p>
        <p style="margin-top: 10px; font-size: 20px;">Advisor of the project</p>
    </div>
  </div>

</div>




{% endblock content %}
